classes_gen
source_gen
source_gen.caches
test_gen.caches
workspace.xml
artifacts
.DS_Store

/build
/out
/buildtools.jar
/build.properties
/MPS
/lib
/runtime/bin
/header
/.idea/**/workspace.xml
/.idea/**/tasks.xml
/.idea/**/dictionaries
/.idea/**/shelf
/.idea/**/xtextAutoBuilderState.xml
/solutions/DclareMPSRuntime/lib/*

