#### Intellij (https://github.com/github/gitignore/blob/master/Global/JetBrains.gitignore)
*.iml
*.ipr
*.iws
.idea/**/contentModel.xml
.idea/**/dataSources.ids
.idea/**/dataSources.local.xml
.idea/**/dataSources/
.idea/**/dbnavigator.xml
.idea/**/dictionaries
.idea/**/dynamic.xml
.idea/**/gradle.xml
.idea/**/libraries
.idea/**/mongoSettings.xml
.idea/**/shelf
.idea/**/sqlDataSources.xml
.idea/**/tasks.xml
.idea/**/uiDesigner.xml
.idea/**/usage.statistics.xml
.idea/**/workspace.xml
.idea/**/xtextAutoBuilderState.xml
.idea/*.iml
.idea/artifacts
.idea/compiler.xml
.idea/httpRequests
.idea/jarRepositories.xml
.idea/modules
.idea/modules.xml
atlassian-ide-plugin.xml
out/

#### eclipse (https://github.com/github/gitignore/blob/master/Global/Eclipse.gitignore & https://gist.github.com/billygoo/2b0dfe020bac550c7bfe)
!gradle-wrapper.jar
!src/**/*target*/
*.bak
*.class
*.ear
*.jar
*.launch
*.swp
*.tmp
*.war
*target*
*~.nib
.apt_generated/
.apt_generated_test/
.classpath
.externalToolBuilders/
.factorypath
.gradle
.loadpath
.metadata
.project
.recommenders
.recommenders/
.settings/
.springBeans
.target
bin/
bin/**
build/
gradle-app.setting
local.properties
tmp/
tmp/**
tmp/**/*

#### java (https://github.com/github/gitignore/blob/master/Java.gitignore)
*.class
*.ear
*.jar
*.log
*.nar
*.rar
*.tar.gz
*.war
*.zip
hs_err_pid*

# Gradle (https://github.com/github/gitignore/blob/master/Gradle.gitignore)
!gradle-wrapper.jar
!src/**/build/
**/build/
.gradle
.gradletasknamecache
gradle-app.setting

# MVG
/TEST-*.txt
/TEST-*.xml
**/*_gen
**/*_gen.caches
.mps/workspace.xml
