##~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
## (C) Copyright 2018-2023 Modeling Value Group B.V. (http://modelingvalue.org)                                        ~
##                                                                                                                     ~
## Licensed under the GNU Lesser General Public License v3.0 (the 'License'). You may not use this file except in      ~
## compliance with the License. You may obtain a copy of the License at: https://choosealicense.com/licenses/lgpl-3.0  ~
## Unless required by applicable law or agreed to in writing, software distributed under the License is distributed on ~
## an 'AS IS' BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the License for the  ~
## specific language governing permissions and limitations under the License.                                          ~
##                                                                                                                     ~
## Maintainers:                                                                                                        ~
##     Wim Bast, Tom Brus, Ronald Krijgsheld                                                                           ~
## Contributors:                                                                                                       ~
##     Arjan Kok, Carel Bast                                                                                           ~
##~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

name: copy-to-wiki

on: [ push, workflow_dispatch ]

jobs:
  copy-to-wiki:
    runs-on: ubuntu-20.04
    if: "!contains(github.event.head_commit.message, '[no-ci]')"
    env:
      ALLREP_TOKEN: "${{secrets.ALLREP_TOKEN}}"
      TOKEN: "${{secrets.ALLREP_TOKEN}}"
      CI: "true"
    steps:
      - uses: actions/checkout@v3
        with:
          path: 'source'

      - uses: actions/checkout@v3
        with:
          repository: "${{github.repository}}.wiki"
          ref: master
          path: 'wiki'

      - name: "copy to wiki"
        run: . source/documentation/copy-to-wiki.sh
